*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Libre Caslon Text', serif;
}

.logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}

.header{
    background: #000000 url('https://cutewallpaper.org/21/moving-space-background-gif/CSS-Snippets-Fantasy-Header-by-Ikue-on-DeviantArt.gif') repeat 0 0;
    animation: 20s linear 0s normal none infinite animate;
    height: 50vh;
    padding: 8rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-attachment: fixed;
}
 
@keyframes animate {
	from {background-position: 0 0;}
	to {background-position: 500px 0;}
}

.canvas-wrap{
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#stickyWave{
    position: sticky;
    top: 65px;
}

canvas{
    display: block;
}

#canvas-footer{
    display: block;
    transform: rotate(180deg);
}

.content{
    min-height: 200px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 900px;
    color:rgb(0, 0, 0);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content + canvas {
    padding-top: 60px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
}
  
#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 66px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Julius Sans One', sans-serif;
}
  
#navbar a:hover {
    background-color: rgb(110, 0, 0);
    color: rgb(255, 255, 255);
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(30, 30, 30)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Julius Sans One', sans-serif;
}